<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Create</title>
</head>

<body>
    <h1 class="title">Create your product</h1>
    <form action="/product/add" method="post">
        <div class="form-group">
            <label for="name">Enter the product name</label>
            <input class="form-control" type="text" name="name" placeholder="name" required>
        </div>
        <div class="form-group">
            <label for="price">Enter the price of the product</label>
            <input class="form-control" type="text" name="price" placeholder="price" required>
        </div>
        <div class="form-group">
            <label for="featured">Your product is featured or not?</label>
            <span>
                <div class="form-check">
                    <input name="featured" class="form-check-input" type="checkbox" value="true" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        true
                    </label>
                </div>
            </span>
            <span>
                <div class="form-check">
                    <input name="featured"class="form-check-input" type="checkbox" value="false" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        false
                    </label>
                </div>
            </span>

        </div>

        <div class="m-3">
            <p>Rate the product</p>
            <select name="rating" class="form-select border " aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>

        <div class="form-group">
            <label for="company">Company name</label>
            <input class="form-control" type="text" name="company" placeholder="company name" required>
        </div>
        <input type="submit" class="btn btn-primary updatebutton" name="submit">
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>